{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Página principal</title>
    <link rel="stylesheet" href="{% static 'aplicacao/styles.css' %}">
</head>
<body>
    <div class="div-center">
        <img src="{% static 'aplicacao/assets/notFound.jpg' %}" alt="Página não encontrada" class="not-found-image">
    </div>
    <h1>Ooppps, alguem puxou algum cabo</h1>
    <h3 class="italic-center">O recurso que você está procurando não foi encontrado</h3>
</body>
</html>
