{% load bootstrap4 %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Cliente</title>
  {% bootstrap_css %}
</head>
<form method="post">

    <h3>ID do Cliente: {{cliente_form.id}}</h3>
    <br>

    {% csrf_token %}
    {{ cliente_form.as_p }}
    
    <h4>Perfil</h4>
    {{ perfil_form.as_p }}

    <button type="submit" class="btn btn-success">Salvar Alterações</button>
    <a href="/clientes" class="btn btn-primary">Cancelar</a>
  </form>
  